<div class="container">
  <div class="frame">
    <div class="nav">
      <ul class"links">
        <li class="signin-active"><a class="btn">Add Tool</a></li>
      </ul>
    </div>
    <div ng-app ng-init="checked = false">

      <%= simple_form_for(@tool) do |f| %>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <% if @tool.errors.any? %>
            <div class="errors-container">
              <ul>
                <% @tool.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
            <% end %>

            <div class='form-group'>
              <%= f.label :title %>
              <%= f.text_field :title, class: 'form-control form-styling' %>
            </div>

            <div class='form-group'>
              <%= f.label :price_per_day %>
              <%= f.text_field :price_per_day, class: 'form-control form-styling' %>
            </div>

            <div class='form-group'>
              <%= f.label :address %>
              <%= f.text_field :address, class: 'form-control form-styling' %>
            </div>

            <%= f.submit class: 'btn-primary btn-block btn-signin' %>

          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

