    <section>
      <div class="container-fluid">
        <div class="row">

          <div class="col-lg-6 responsive-wrap">
            <div class="row detail-filter-wrap">
              <div class="col-md-4 featured-responsive">
                <div class="detail-filter-text">
                  <p>34 Results For <span>Tools</span></p>
                </div>
              </div>
              <div class="col-md-8 featured-responsive">
                <div class="detail-filter">
                  <p>Filter by</p>
                  <form class="filter-dropdown">
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                      <option selected>Best Match</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </form>
                  <form class="filter-dropdown">
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect1">
                      <option selected>Tools</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </form>
                  <div class="map-responsive-wrap">
                    <a class="map-icon" href="#"><span class="icon-location-pin"></span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row detail-checkbox-wrap">
              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">

                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Great tool</span>
                </label>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Small prrojects  </span>
                </label>
              </div>

              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">

                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Steel  </span>
                </label>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Chop wood</span>
                </label>
              </div>

              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">

                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Special</span>
                </label>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Accepts Credit cards</span>
                </label>
              </div>

              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">

                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Custom made</span>
                </label>

              </div>
            </div>

            <div class="row light-bg detail-options-wrap">

              <% @tools.each do |tool| %>
              <div class="col-lg-6 featured-responsive">
                <div class="featured-place-wrap">

                  <%= cl_image_tag tool.photo, class:'img-fluid' %>
                  <span class="featured-rating-orange "><%= rand(1.0..10.0).round(1) %></span>
                  <div class="featured-title-box">
                    <h6><%= link_to tool.title, tool_path(tool) %></h6>

                    <p>$<%= tool.price_per_day %> </p> <span>• </span>
                    <p>3 Reviews</p> <span> • </span>
                    <p><span>$$$</span>$$</p>
                    <ul>
                      <li><span class="icon-location-pin"></span>
                        <p>Address</p>
                      </li>
                      <li><span class="icon-screen-smartphone"></span>
                        <p>+44 20 7336 8898</p>
                      </li>
                      <li><span class="icon-link"></span>
                        <p><%= tool.address %></p>
                      </li>

                    </ul>
                    <div class="bottom-icons">
                      <div class="open-now">AVAILABLE NOW</div>
                      <span class="ti-heart"></span>
                      <span class="ti-bookmark"></span>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>

          <div class="col-lg-6 responsive-wrap map-wrap">
            <div
            id="map"
            style="width: 100%; height: 75vh"
            data-markers="<%= @markers.to_json %>">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--//END DETAIL -->

  <style>
  .custom-select {
    display: inline-block;
    max-width: 100%;
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.25;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: auto auto;
    background-size: 8px 10px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
</style>
