<% content_for :title, "Home|AirTool-n-Tool" %>
<section class="slider d-flex align-items-center">
  <!-- <img src="images/slider.jpg" class="img-fluid" alt="#"> -->
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12">
        <div class="slider-title_box">
          <div class="row">
            <div class="col-lg-12">
              <div class="slider-content_wrap">
                <h1>Discover great tools at great prices</h1>
                <h5>Let's uncover the best tools nearest to you.</h5>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-lg-12">

              <%= form_tag(tools_path, method: :get, id:'main-search') do %>

              <%= text_field_tag :query, :attr, placeholder: "What are you looking for?" %>

              <%= submit_tag 'Show me!', class: 'btn-form' %>
              <% end %>
              <div class="slider-link">
                <a href="#">Browse Popular</a><span>or</span> <a href="#">Recently Added</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--// SLIDER -->
<!--//END HEADER -->
<style>
#main-search input{
  padding: 24px;
  width: 40%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
}

</style>
<!--============================= FEATURED PLACES =============================-->

<section class="main-block light-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="styled-heading">
          <h3>Featured Tools</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <%= image_tag "https://source.unsplash.com/d0yNnTEjEWY/400x250", class:'img-fluid img-shadow' %>
      </div>
      <div class="col-lg-4">
        <%= image_tag "https://source.unsplash.com/Geh-r9A4RBg/400x250", class:'img-fluid img-shadow' %>

      </div>
      <div class="col-lg-4">
       <%= image_tag "https://source.unsplash.com/CuDoRFyTkAQ/400x250", class:'img-fluid img-shadow' %>
     </div>
   </div>
   <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="featured-btn-wrap">
        <a href="#" class="btn btn-danger">VIEW ALL</a>
      </div>
    </div>
  </div>
</div>
</section>
<!--//END FEATURED PLACES -->
<section class="main-block light-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="add-listing-wrap">
          <h2>Reach millions of People</h2>
          <p>Add your Business infront of millions and earn 3x profits from our listing</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//END ADD LISTING -->
