<% content_for :title, "Home|AirTool-n-Tool" %>
<section class="slider d-flex align-items-center">
  <!-- <img src="images/slider.jpg" class="img-fluid" alt="#"> -->
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12">
        <div class="slider-title_box">
          <div class="row">
            <div class="col-lg-12">
              <div class="slider-content_wrap">
                <h1>Hardware stores are for sausages. We are for tools.</h1>
                <h4>Rent power tools at great prices.</h4>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-lg-12">

              <%= form_tag(tools_path, method: :get, id:'main-search') do %>

                <%= text_field_tag :query, :drill, placeholder: "Try typing a tool name" %>

                <%= submit_tag 'SEARCH', class: 'btn-form', :style => "width: 200px;" %>
              <% end %>
              <div class="slider-link">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--// SLIDER -->
<!--//END HEADER -->
<style>
#main-search input{
  padding: 24px;
  width: 40%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
  margin: 30px 0;
}
.home-btn{
  margin-top:50px;
}
.light-bg{
  padding: 90px 50px 100px 50px;
}
</style>
<!--============================= FEATURED PLACES =============================-->

<section class="main-block light-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="styled-heading">
          <h3>Popular Tools in <span style="color: #007f8c; font-weight:600">Melbourne, Australia</span></h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <%= image_tag "https://source.unsplash.com/d0yNnTEjEWY/400x250", class:'img-fluid img-shadow' %>
      </div>
      <div class="col-lg-4">
        <%= image_tag "https://source.unsplash.com/Geh-r9A4RBg/400x250", class:'img-fluid img-shadow' %>

      </div>
      <div class="col-lg-4">
       <%= image_tag "https://source.unsplash.com/CuDoRFyTkAQ/400x250", class:'img-fluid img-shadow' %>
     </div>
   </div>
   <div class="row justify-content-center home-btn">
    <div class="col-lg-12">
      <div class="featured-btn-wrap">
        <%= link_to 'VIEW ALL', tools_path, class:'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
</section>
